<main>
  <section class="banners">
    <div>
      <img src="../../assets/fruits.jpeg" alt="Apples in a bunch" />
    </div>
    <div>
      <img src="../../assets/berry.jpeg" alt="A bunch of berries" />
    </div>
    <div>
      <img src="../../assets/banner-1.jpeg" alt="Slushy oranges" />
    </div>
    <div>
      <img src="../../assets/banner-2.jpeg" alt="A diverse set of fruits" />
    </div>
  </section>
  <section class="product-area">
    <app-product-list [fruits]="items"></app-product-list>
  </section>
</main>